@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Nunito&family=Playfair+Display:wght@700&family=Raleway:wght@500&family=Roboto:wght@500&display=swap');

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navigation{
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-right: 120px;
}
.navigation__link{
    text-decoration: none;
    color: #25282B;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    border-bottom: 1px solid white;
}
.active{
    border-bottom: 1px solid black;
}
.name{
    margin-left: 120px;
    font-family: 'Comfortaa', sans-serif;
    color: #25282B;
    font-size: 18px;
    font-weight: 700;
    line-height: 32.40px;
}
.navigation__link:hover{
    border-bottom: 1px solid black;
}
.contents{
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 120px;
    align-items: center;
    gap: 88px;
}
.title{
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 72px;
}
.aboutme{
    color: #828282;
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    line-height: 36px;
    word-wrap: break-word
}
.contents__profile{
    display: flex;
    background: #FDC435; 
    border-radius: 9999px;
}
.contents__profile__img{
    width: 100%;
    height: 100%;
    border-radius: 600px
}
.button{
    padding-left: 24px; 
    padding-right: 24px; 
    padding-top: 8px; 
    padding-bottom: 8px; 
    background: #FDC435; 
    border-radius: 8px; 
    display: inline-flex;
    justify-content: flex-start; 
    align-items: flex-start; 
}
.button__text{
    color: #25282B;
    font-size: 18px; 
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
    line-height: 27px; 
    text-decoration: none;
}